body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background: #90cbf3;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 0;
    overflow-y: scroll;
}

#timer {
    font-size: 3em;
    font-weight: 100;
    color: white;
    padding: 20px;
    width: 1400px;
}

#timer div {
    display: inline-block;
    min-width: 180px;
    padding: 30px;
    background: #020b43;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 30px;
}

#timer div span {
    color: #ffffff;
    display: block;
    margin-top: 30px;
    font-size: .35em;
    font-weight: 400;
}

#later {
    font-size: 3em;
    font-weight: 100;
    color: white;
    margin-top: -10px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}